<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Pageant Registry</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
        <li class="dropdown">
          <a aria-expanded="false"
             aria-haspopup="true"
             class="dropdown-toggle"
             data-toggle="dropdown"
             href="#"
             role="button">
            {{ current_user.username }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('user.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('user.logout') }}">Log Out</a></li>
            </ul>
          </li>
      {% else %}
      <li><a href="{{ url_for('user.login') }}">Log In</a></li>
      {% endif %}

    </ul>
  </div>
</nav>
