<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
  </head>
  <body>
    {% include 'appbar.html' %}

    <div class="container">
      <div class="row">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% block scripts %}
    <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
