{% extends 'base.html' %}

{% block content %}
  <h2>Organizations</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
      {% for org in current_user.organizations.all() %}
      <tr>
        <td>{{ org.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
